In [13]:
from pydataset import data
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [14]:
titanic = data('titanic')
titanic.sample(5)

          class     age    sex survived
247   1st class  adults  women      yes
662   3rd class  adults    man      yes
996   3rd class  adults    man       no
1176  3rd class  adults  women       no
22    1st class  adults    man      yes

In [15]:
titanic = pd.get_dummies(titanic, drop_first=True)
titanic.sample(5)

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
801                 0                1          0          0             0
107                 0                0          0          0             0
146                 0                0          0          0             0
1153                0                1          0          1             0
291                 0                0          0          1             1

In [16]:
x_train, x_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

In [17]:
regression = LogisticRegression(solver='lbfgs')
regression.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
regression.score(x_test, y_test)

0.7659574468085106